<p-dataView
  currentPageReportTemplate="Page {currentPage} of {totalPages}, from {first} to {last} of {totalRecords} entries"
  class="dataview"
  [ngClass]="{ 'loading' : loading}"
  [value]="dataList"
  [paginator]="!!totalRecords"
  [showCurrentPageReport]="true"
  [showPageLinks]="false"
  [showJumpToPageDropdown]="false"
  [rows]="pagedOptions.pageSize"
  [totalRecords]="totalRecords"
  [first]="first"
  [loading]="loading"
  [lazy]="true"
  [trackBy]="trackBy"
  (onLazyLoad)="load($event)"
  (onPage)="onPage($event)"
>
    <ng-template pTemplate="list" let-todos>
        <div class="flex justify-content-center gap-5 mb-2">
          <p-inputNumber
            inputId="integeronly"
            placeholder="filter by user id"
            [min]="1"
            [ngModel]="userId"
            (ngModelChange)="updateFilter(false, $event)"
          />

          <p-button pRipple
            severity="success"
            label="Filter"
            icon="pi pi-search"
            (click)="load()"
          />
        </div>
        <div class="flex justify-content-center gap-5 mb-2">
          <p-button pRipple
            severity="success"
            label="Clear Search"
            icon="pi pi-search"
            (click)="updateFilter(true)"
          />

          <p-button pRipple
            severity="warning"
            label="Reset Pagination"
            (click)="resetPagination()"
          />
        </div>

        <div class="flex flex-column align-items-center">
            <p-card *ngFor="let todo of todos; let first = first" class="border-1 border-indigo-500 mb-5 p-2 w-30rem">
                <ng-template pTemplate="header">{{ todo.title }}</ng-template>
                <div class="flex flex-column gap-1">
                    <span class="ml-4 font-medium text-secondary">id: {{ todo.id }}</span>
                    <span class="ml-4 font-medium text-secondary">userId: {{ todo.userId }}</span>
                    <span class="ml-4 font-medium text-secondary">completed: {{ todo.completed }}</span>
                </div>
            </p-card>
        </div>
    </ng-template>
</p-dataView>
